@use 'index' as *;

.container {
  width: 100%;
  margin-top: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.svg-container {
  width: 100%;
  overflow: auto;
  border: 2px solid $color-component-border;
  border-radius: 8px;
  background-color: $color-component-bg;
  padding: 1rem;
}

.svg {
  display: block;
  margin: 0 auto;
}
