@use 'index' as *;

$max-width: 32rem;

.overlay {
  @extend %flex-center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: $z-index-modal;
}

.content {
  position: relative;
  background: $color-component-bg;
  padding: 1.25rem;
  width: 90%;
  max-width: $max-width;
  margin: auto;
  @include default-border;

  &--without-class-border {
    @include superFancyBorder(1.25rem, 1.25rem);
  }

  h3 {
    color: $color-primary-base;
    margin-top: 0.375rem;
    margin-block-end: 0;
    font-size: font-size('md');
  }

  p {
    color: $color-primary-muted;
    line-height: 1.4;
    font-size: font-size('sm');
  }

  ul {
    color: $color-primary-muted;
    list-style-type: circle;
  }

  li {
    margin-bottom: 1rem;

    b {
      color: $color-primary-base;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    margin: auto 1.5rem;
  }

  // Make the modal scrollable on mobile landscape
  @media (orientation: landscape) and (max-height: 600px) {
    max-height: 80vh;
    overflow-y: auto;
  }
}
