@import '../../styles/constants';
@import '../../styles/gradients';

$transition-duration: 0.5s;

.header-info-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0.375rem;
  font-size: 0.875rem;
  color: #999;

  .hover-text {
    transform: translateX(1.25rem);
    margin-top: 0.375rem;
    opacity: 0;
    transition: all $transition-duration ease;
    padding-right: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    max-width: 34.375rem;
    white-space: normal;
    line-height: 1.4;

    p {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }

  .question-icon {
    width: 1rem;
    height: 1rem;
    transition: all $transition-duration ease;
    padding: 0.25rem;
    border: 2px solid transparent;
    border-radius: 50%;
    transform-origin: center;
    @include yellowGreenGradientIcon(false);

    @media (max-width: $breakpoint-tablet) {
      position: absolute;
      right: 0.375rem;
      top: 1rem;
      cursor: pointer;
    }
  }

  &:hover {
    .hover-text {
      transform: translateX(0);
      opacity: 1;
    }

    .question-icon {
      @include yellowGreenGradientIcon(true);
    }
  }
}
