@import '../../styles/animations';
@import '../../styles/constants';
@import '../../styles/gradients';
@import '../../styles/borders';

.chart-layout {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  overflow: visible;

  .outer-container {
    flex: 1;
    // To make sure that the chart doesn't push the legend out of the screen
    max-width: calc(100% - ($chart-legend-width + 2rem));
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0;
    background-color: #1a1a1a;
    padding: 0.25rem;
    @include default_border();

    .chart-scroll-container {
      height: $chart-container-height;
      overflow: auto;

      &.mobile-portrait-loading {
        height: 16.25rem;
      }
    }

    .chart-container {
      height: 100%;
      transition: width 0.3s;

      canvas {
        min-height: 100%;
      }
    }
  }

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    padding: 0 0.625rem 0 0;

    .outer-container {
      max-width: 100%;
      width: 100%;
    }

    .chart-container {
      min-width: 100%;
      width: 100%;
    }
  }
}

.chart-message {
  color: #fff;
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;

  &.error {
    color: #ff6b6b;
  }
}
