@use 'index' as *;

@mixin panel-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }

  p {
    margin: 0 0 1rem 0;
    line-height: 1.6;
    color: $color-primary-base;

    &.follow-up {
      margin-top: -0.75rem;

      @media (max-width: $breakpoint-mobile) {
        margin-top: -0.875rem;
      }
    }
  }
}
