@use '../../../../styles/index' as *;

$bounce-curve: cubic-bezier(0.34, 1.56, 0.64, 1.6);
$subtle-bounce-curve: cubic-bezier(0.68, 1.4, 0.32, 1);
$transition-duration: 0.5s;
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 4.5rem;
}

.icon {
  width: 1rem;
  height: 1rem;
  transition: all $transition-duration ease;
  padding: 0.25rem;
  border: 1px solid transparent;
  border-radius: 50%;
  transform-origin: center;
  cursor: pointer;
  @include yellowGreenGradientIcon(false);

  &:hover {
    border-width: 2px;
    @include yellowGreenGradientIcon(true);
  }
}

.weekly-challenge-button {
  padding: 0.75rem 0.5rem !important;
  width: 17rem !important;

  &--loading {
    padding: 0.8125rem 0.5rem !important;
  }

  &--success {
    animation: success-button-pulse $transition-duration ease-in-out;
    @include yellowGreenGradient(true);
    @include superFancyBorder($padding-button-vertical, $padding-button-horizontal);
  }

  &:hover {
    padding: 0.8125rem 0.5rem !important;
  }

  &__challenge-name {
    font-weight: bold;
    @include text-truncate;
    padding: 0.125rem 0.5rem;
  }

  &__content {
    @include yellowGreenGradient(true);
    line-height: 1.5;
    transition:
      transform $transition-duration $bounce-curve,
      font-size 0s ease-in-out;

    &--success {
      font-size: font-size('md');
      font-weight: bold;
      transform: rotate(-365deg);
      transition:
        transform $transition-duration $subtle-bounce-curve,
        font-size $transition-duration $subtle-bounce-curve;
    }

    &--reverting {
      font-size: font-size('md');
      font-weight: bold;
      transform: rotate(-5deg);
      transition: transform 0s;
    }
  }
}

@keyframes success-button-pulse {
  0% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(0.95, 0.5);
  }
  50% {
    transform: scale(1.1, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
