@use 'index' as *;

.pools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: stretch;
  margin: 0 1rem;

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
  }
}
