@import '../../styles/_gradients.scss';

.github-container {
  display: flex;
  margin-left: auto;

  .github-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    padding: 12px;

    &:hover {
      .hover-text {
        width: auto;
        padding-left: 0.5rem;
        opacity: 1;
      }

      .github-icon {
        transform: scale(1.25);
        opacity: 0.8;
      }
    }
  }

  .github-icon {
    width: 16px;
    height: 16px;
    opacity: 0.6;
    transition: all 0.2s ease;
    padding: 4px;
    border: 2px solid transparent;
    border-radius: 50%;
    transform-origin: center;
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to right, $gradient-yellow, $gradient-green) border-box;
  }

  .hover-text {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease;

    .url {
      @include yellowGreenGradient;
      font-weight: 600;
    }
  }
}
