@use '../../../../styles' as *;

.button {
  background: none;
  color: $color-primary-base;
  min-width: 4rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  border: 1px solid $color-component-border;
  font-size: font-size('xs');

  &:hover {
    color: $color-primary-hover;
    background: $color-component-bg-hover;
    border-color: $color-component-border-hover;
  }

  &--loading {
    background: $color-component-bg !important;
    border-color: $color-component-border !important;
    cursor: default !important;
  }
}

.loading-dots {
  position: relative;
  bottom: 1px;
}
