@use '../../../../styles' as *;

// Increased specificity to override the button styles
.gradient-button.gradient-button {
  font-weight: bold;
  min-width: 5rem;

  &--colored {
    @include yellowGreenGradient(false);

    &:hover {
      @include yellowGreenGradient(true);
      @include superFancyBorder($padding-button-vertical, $padding-button-horizontal);
    }
  }

  &--colored,
  &--subtle {
    &:hover {
      @include yellowGreenGradient(true);
      @include superFancyBorder($padding-button-vertical, $padding-button-horizontal);
    }
  }

  &--success-animation {
    animation: success-pulse 0.5s ease-in-out;
    @include yellowGreenGradient(true);
    @include superFancyBorder($padding-button-vertical, $padding-button-horizontal);
  }
}

@keyframes success-pulse {
  0% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(0.95, 0.5);
  }
  50% {
    transform: scale(1.1, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
