@use 'index' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-base-bg;
  margin: 0.5rem 1rem 0;
  padding-bottom: 1rem;
}

.logo-and-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.logo {
  @include rotateY360Animation('hover', '.logo-and-title:hover');
}

.title {
  font-size: font-size('lg');
  margin: 0;
  font-weight: bold;
  @include yellowGreenGradient(false);

  @media (max-width: $breakpoint-mobile) {
    font-size: font-size('md');
    margin-bottom: 0.25rem;
  }
}

.subtitle {
  color: $color-primary-muted;
  font-size: font-size('sm');
  margin: 0;
  font-weight: normal;
  font-style: italic;

  @media (max-width: $breakpoint-mobile) {
    font-size: font-size('xs');
  }
}
