@import '../../styles/breakpoints';

.button-row {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: nowrap;

  @media (max-width: $breakpoint-tablet) {
    flex-wrap: wrap;
    gap: 12px;
  }
}
