@use '../../../../../styles/index' as *;

.filter-group {
  margin: 2rem 0;

  h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: font-size('sm');
    color: $color-primary-base;
  }
}

.check-boxes {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  &--banner {
    gap: 0;
    // Negative margin to offset the extra padding added to the banner-checkboxes
    // This is to expand the background color of the checkboxes without affecting the spacing between them
    margin: -0.25rem;
  }
}
