@use 'colors' as colors;

@mixin supportsSuperFancyBorder {
  @supports (mask-composite: exclude) or (-webkit-mask-composite: xor) {
    @content;
  }
}

@mixin superFancyBorder($padding-vertical, $padding-horizontal, $position: relative) {
  $border-width: 0.0625rem;

  // Fallback
  @include default_border();

  @include supportsSuperFancyBorder {
    border: none;
    position: $position;
    padding: $padding-vertical + $border-width $padding-horizontal + $border-width;

    &::before {
      content: '';
      position: absolute;
      inset: -1px;
      border: 1px solid transparent;
      border-radius: inherit;
      background: linear-gradient(45deg, colors.$yellow-border, colors.$green-border) border-box;
      -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
      pointer-events: none;
    }
  }
}

@mixin default_border($type: solid) {
  border-radius: 0.25rem;
  border: 1px $type #333;
}
