// -- Gradient colors -- //
$yellow-base: #cfaa26;
$yellow-hover: #e4ca5f;
$yellow-border: #9d8739;

$green-base: #249624;
$green-hover: #2bc02b;
$green-border: #176616;
// -- -- -- -- -- -- -- //

// -- Primary colors -- //
$color-primary-base: #ddd;
$color-primary-active: #eee;
$color-primary-hover: #fff;
$color-primary-muted: #aaa;
$color-primary-dark: #888;
$color-primary-ultimate-despair: #000;
// -- -- -- -- -- -- -- //

// -- Extra colors -- //
$color-danger-base: #b22;
$color-danger-hover: #e22;
$color-danger-error: #d33;
// -- -- -- -- -- -- -- //

// -- Component colors -- //
$color-base-bg: #1a1a1a;

$color-component-bg: #1f1f1f;
$color-component-bg-hover: #2c2c2c;

$color-component-border-dark: #444;
$color-component-border: #666;
$color-component-border-hover: #888;

$color-list-bg-active: #222;
$color-list-bg-hover: #2c2c2c;

$color-button-bg: #333;
$color-button-bg-active: #444;
$color-button-bg-hover: #494949;
$color-button-bg-disabled: #222;

$color-checkbox-bg: #23790b;
$color-checkbox-border-light: #77a822;
$color-checkbox-border-dark: #154e02;
// -- -- -- -- -- -- -- //

// -- Rarity colors -- //
$color-rarity-common: #945415;
$color-rarity-common-hover: #b37431;
$color-rarity-uncommon: #1eba42;
$color-rarity-uncommon-hover: #4ddd6c;
$color-rarity-rare: #007bff;
$color-rarity-rare-hover: #32a6ff;
$color-rarity-legendary: #ffd900;
$color-rarity-legendary-hover: #fff067;
// -- -- -- -- -- -- -- //

// -- Banner colors -- //
$color-banner-1: #003710;
$color-banner-2: #001d45;
$color-banner-3: #580000;
$color-banner-4: #370054;
$color-banner-5: #3f230d;
$color-banner-6: #00434c;
$color-banner-8: #504c00;
$color-banner-9: #111;
$color-banner-10: #582800;
$color-banner-11: #300;

$banner-index-to-color-map: (
  1: $color-banner-1,
  2: $color-banner-2,
  3: $color-banner-3,
  4: $color-banner-4,
  5: $color-banner-5,
  6: $color-banner-6,
  8: $color-banner-8,
  9: $color-banner-9,
  10: $color-banner-10,
  11: $color-banner-11,
);

$banner-name-to-color-map: (
  'Green': $color-banner-1,
  'Blue': $color-banner-2,
  'Red': $color-banner-3,
  'Purple': $color-banner-4,
  'Brown': $color-banner-5,
  'Aqua': $color-banner-6,
  'Gold': $color-banner-8,
  'Black': $color-banner-9,
  'Orange': $color-banner-10,
);
// -- -- -- -- -- -- -- //

// -- Tier colors -- //
$color-tier-0: #bbb;
$color-tier-1: #ffcdb2;
$color-tier-2: #1eff00;
$color-tier-3: #08d6dd;
$color-tier-4: #3255ff;
$color-tier-5: #a335ee;
$color-tier-6: #ff8000;

$tier-index-to-color-map: (
  0: $color-tier-0,
  1: $color-tier-1,
  2: $color-tier-2,
  3: $color-tier-3,
  4: $color-tier-4,
  5: $color-tier-5,
  6: $color-tier-6,
);

$tier-name-to-color-map: (
  'Tier-0': $color-tier-0,
  'Tier-1': $color-tier-1,
  'Tier-2': $color-tier-2,
  'Tier-3': $color-tier-3,
  'Tier-4': $color-tier-4,
  'Tier-5': $color-tier-5,
  'Tier-6': $color-tier-6,
);
// -- -- -- -- -- -- -- //
