// Chart
$chart-container-height: 31.25rem;
$chart-legend-height: 34.375rem;
$chart-legend-width: 13.75rem;

// Control widths
$control-min-width: 8rem;
$control-max-width: 25rem;

// Breakpoints
// NB: Values should match useBreakpoint.ts
$breakpoint-mobile: 48rem; // 768px
$breakpoint-tablet: 64rem; // 1024px
