// Chart
$chart-container-height: 500px;

// Control widths
$control-min-width: 140px;
$control-max-width: 300px;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1023px;
$breakpoint-desktop: 1024px;
