@use 'colors' as colors;

@mixin yellowGreenGradient($hover) {
  // Fallback
  color: if($hover, colors.$color-primary-hover, colors.$color-primary-base);

  @supports (-webkit-background-clip: text) or (background-clip: text) {
    @include yellowGreenGradientBackground($hover);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

@mixin yellowGreenGradientBackground($hover: false) {
  background: linear-gradient(
    45deg,
    if($hover, colors.$yellow-hover, colors.$yellow-base),
    if($hover, colors.$green-hover, colors.$green-base)
  );
}

@mixin yellowGreenGradientIcon($hover, $hover-scale: 1.25) {
  @if $hover {
    transform: scale($hover-scale);
    opacity: 0.9;
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to right, colors.$yellow-hover, colors.$green-hover) border-box;
  } @else {
    opacity: 0.75;
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to right, colors.$yellow-base, colors.$green-base) border-box;
  }
}

// Used for animated gradient link underline
// This must always be used in an &::after block
@mixin yellowGreenGradientBackgroundSupportInAfterBlock($transition-transform: 0.5s ease) {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transition: transform $transition-transform;
  transform-origin: left;
  @include yellowGreenGradientBackground(1);
}
