$gradient-yellow: #ccaa2d;
$gradient-green: #249624;

@mixin yellowGreenGradientBackground($opacity: 1) {
  background: linear-gradient(
    45deg,
    rgba($gradient-yellow, $opacity),
    rgba($gradient-green, $opacity)
  );
}

@mixin yellowGreenGradient {
  @include yellowGreenGradientBackground;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
