@use 'index' as *;

.search-panel {
  flex: 1;
  min-width: 500px;
  background-color: $color-component-bg;
  padding: 1rem;
  border-radius: 4px;
  max-height: max-content;

  @media (max-width: $breakpoint-mobile) {
    min-width: auto;
    flex: 1 0 100%;
  }
}

.filters {
  margin-top: 1rem;
}

.filter-label {
  display: flex;
  align-items: center;

  &--small {
    font-size: font-size('xxs');
  }

  &:hover {
    .filter-icon--scroll {
      color: $color-danger-hover;
    }

    .filter-icon--flame {
      color: $color-danger-hover;
    }
  }
}

.filter-icon {
  width: 1rem;
  height: 1rem;
  padding-right: 0.5rem;

  &--class {
    width: 1.25rem;
    height: 1.25rem;
    padding-right: 0.375rem;
    margin-left: -0.125rem;
  }

  &--scroll {
    @extend .filter-icon;
    width: 1.125rem;
    height: 1.125rem;
    position: relative;
    right: 0.125rem;
    margin-right: -0.25rem;
    color: $color-danger-base;
  }

  &--flame {
    @extend .filter-icon;
    width: 1.125rem;
    height: 1.125rem;
    position: relative;
    margin: 0 -0.125rem;
    bottom: 0.125rem;
    color: $color-danger-base;
  }
}

.button-row {
  @extend %flex-start;
  width: 20rem;

  @media (max-width: $breakpoint-mobile) {
    width: 16rem;
  }

  &--weekly-challenge {
    width: 23rem;

    @media (max-width: $breakpoint-mobile) {
      width: 18.75rem;
    }
  }
}

.filter-button {
  width: 100%;

  @media (max-width: $breakpoint-mobile) {
    width: auto;
  }

  padding-left: 0.8125rem !important;
  padding-right: 0.8125rem !important;

  &:hover {
    padding-left: 0.875rem !important;
    padding-right: 0.875rem !important;
  }
}
