@use 'index' as *;

.search-panel {
  flex: 1;
  min-width: 500px;
  background-color: $color-component-bg;
  padding: 1rem;
  border-radius: 4px;
  max-height: max-content;

  @media (max-width: $breakpoint-mobile) {
    min-width: auto;
    flex: 1 0 100%;
  }
}

.filters {
  margin-top: 1rem;
}

.filter-label {
  display: flex;
  align-items: center;

  &--small {
    font-size: font-size('xxs');
  }
}

.filter-icon {
  width: 1rem;
  height: 1rem;
  padding-right: 0.5rem;

  &--class {
    width: 1.25rem;
    height: 1.25rem;
    padding-right: 0.375rem;
    margin-left: -0.125rem;
  }
}

.button-row {
  @extend %flex-start;
  width: 20rem;

  @media (max-width: $breakpoint-mobile) {
    width: 16rem;
  }

  &--weekly-challenge {
    width: 23rem;

    @media (max-width: $breakpoint-mobile) {
      width: 18.75rem;
    }
  }
}

.filter-button {
  width: 100%;
  padding-left: 0.8125rem !important;
  padding-right: 0.8125rem !important;

  @media (max-width: $breakpoint-mobile) {
    width: auto;
  }

  &:hover {
    padding-left: 0.875rem !important;
    padding-right: 0.875rem !important;
  }
}
