@import '../../styles/constants';
@import '../../styles/animations';

$message-padding: 40px;

.loading-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: $message-padding;
  color: #ddd;
  font-size: 1.2rem;

  &.max-height {
    height: $chart-container-height - 2 * $message-padding;
  }

  .loading-icon {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    @include pulseAnimation;
  }

  .loading-text {
    opacity: 0.8;
    display: flex;
    gap: 8px;
    text-align: center;

    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
      align-items: center;
      white-space: normal;
      word-break: break-word;
    }

    .class-name {
      font-weight: bold;
    }

    .last-line {
      display: flex;
      flex-direction: row;
      width: 85px;
      justify-content: space-between;
    }
  }
}
