@use 'index' as *;

$icon-size: 20px;
$icon-size-mobile: 16px;

.energy {
  width: $icon-size;
  height: $icon-size;
  padding-top: 2px;

  @media (max-width: $breakpoint-mobile) {
    width: $icon-size-mobile;
    height: $icon-size-mobile;
  }
}
