@use './styles/index' as *;

// Weird visual effect work-around for struck cards and hover effect
@mixin cardOverlayPositioningFix {
  margin-left: -0.5rem;
  padding-left: 0.5rem;

  &:first-child {
    margin-top: -0.25rem;
    padding-top: 0.25rem;
  }

  &:last-child {
    margin-bottom: -0.25rem;
    padding-bottom: 0.5rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0.375rem 0.625rem 0.625rem;
  background-color: $color-base-bg;
  color: $color-primary-base;
  min-height: 100vh;
  font-size: font-size('sm');
  @include starsTexture('upper');
  @include starsTexture('lower');
}

.content {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem 1rem;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
}

.left-panel {
  flex: 1;
  min-width: 500px;
  background-color: $color-component-bg;
  padding: 1rem;
  border-radius: 4px;
  max-height: max-content;

  @media (max-width: $breakpoint-mobile) {
    min-width: auto;
    flex: 1 0 100%;
  }
}

.right-panel {
  flex: 2;
  background-color: $color-component-bg;
  padding: 1rem;
  border-radius: 4px;

  @media (max-width: $breakpoint-mobile) {
    flex: 1;
  }
}

.panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  color: $color-primary-base;
  font-weight: bold;
  font-size: font-size('md');
  border-bottom: 1px solid $color-component-border-dark;
  padding-bottom: 0.5rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid $color-component-border;
    border-radius: 0.25rem;
    background-color: $color-base-bg;
    color: $color-primary-base;
    // Font size should not be smaller than 1rem, to prevent zooming in on focus
    font-size: font-size('sm');
  }
}

.filters {
  margin-top: 1rem;
}

.filter-label {
  display: flex;
  align-items: center;

  &:hover {
    .filter-icon--legendary {
      color: $color-rarity-legendary-hover;
    }

    .filter-icon--rare {
      color: $color-rarity-rare-hover;
    }

    .filter-icon--uncommon {
      color: $color-rarity-uncommon-hover;
    }

    .filter-icon--common {
      color: $color-rarity-common-hover;
    }

    .filter-icon--monster {
      color: $color-danger-hover;
    }

    .filter-icon--non-collectible {
      color: $color-danger-hover;
    }
  }
}

.filter-icon {
  width: 1rem;
  height: 1rem;
  padding-right: 0.25rem;

  &--legendary {
    @extend .filter-icon;
    color: $color-rarity-legendary;
    height: 1.25rem;
    padding-bottom: 0.125rem;
  }

  &--rare {
    @extend .filter-icon;
    color: $color-rarity-rare;
    width: 1.25rem;
  }

  &--uncommon {
    @extend .filter-icon;
    color: $color-rarity-uncommon;
    width: 1.25rem;
    height: 1.25rem;
    padding-right: 0.125rem;
    margin-left: -0.125rem;
  }

  &--common {
    @extend .filter-icon;
    color: $color-rarity-common;
    width: 1.25rem;
  }

  &--monster {
    @extend .filter-icon;
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    top: 0.0625rem;
    right: 0.125rem;
    margin-right: -0.25rem;
    color: $color-danger-base;
  }

  &--non-collectible {
    @extend .filter-icon;
    width: 1rem;
    height: 0.75rem;
    position: relative;
    top: 0.0625rem;
    color: $color-danger-base;
  }
}

.results-title {
  border-bottom: 1px solid $color-component-border-dark;

  h3 {
    border-bottom: none;
    margin-bottom: 0;
    display: inline-block;
  }
}

.results-container {
  margin-top: 1rem;

  @media (max-width: $breakpoint-mobile) {
    margin-top: 0.5rem;
  }
}

.results-info {
  font-size: font-size('xs');
  color: $color-primary-muted;
  margin: 1.5rem 0 1rem;

  &__keywords {
    font-size: font-size('xxs');
    color: $color-primary-muted;
    margin-top: 0.25rem;
  }

  @media (max-width: $breakpoint-mobile) {
    margin: 0 0 1rem;
  }
}

.results-cards {
  display: flex;
  flex-direction: column;
  font-size: font-size('xs');
  color: $color-primary-base;
  gap: 0.125rem;

  $banner-colors-map: (
    1: $color-banner-1,
    2: $color-banner-2,
    3: $color-banner-3,
    4: $color-banner-4,
    5: $color-banner-5,
    6: $color-banner-6,
    8: $color-banner-8,
    9: $color-banner-9,
    10: $color-banner-10,
    11: $color-banner-11,
  );

  &__banner {
    padding: 0.25rem 0.5rem;
    border-top: 1px solid $color-component-bg;
    border-bottom: 1px solid $color-component-bg;
  }

  // Generate all banner variations
  @each $number, $color in $banner-colors-map {
    &__banner--#{$number} {
      @extend .results-cards__banner;
      @include rainTexture($color, false);
    }

    // Flip texture on even rows
    &:nth-child(even) &__banner--#{$number} {
      @include rainTexture($color, true);
    }
  }
}

.result-card-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed $color-component-border;
  padding-bottom: 0.25rem;

  &:last-child {
    border-bottom: none;
  }

  &--struck {
    text-decoration: line-through;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.5) !important;
    @include cardOverlayPositioningFix;
  }

  &:hover {
    color: $color-primary-hover;
    background-color: rgba(255, 255, 255, 0.03);
    @include cardOverlayPositioningFix;

    .result-card__description {
      color: $color-primary-base;
    }
  }
}

.result-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
  margin: -0.3125rem 0;
  cursor: pointer;
  min-height: 1.25rem;

  &__rarity {
    margin-right: 0.5rem;
    min-width: 1.5rem;

    @media (max-width: $breakpoint-mobile) {
      margin-right: 0.25rem;
    }
  }

  &__name {
    display: inline-block;
    width: 10rem;
    @include text-truncate;

    @media (max-width: $breakpoint-mobile) {
      font-size: font-size('xxs');
    }
  }

  &__monster {
    display: inline-block;
    margin: 0 0.5rem 0 0.25rem;
  }

  &__non-collectible {
    display: inline-block;
    margin: 0 0.5rem 0 0.25rem;

    svg {
      position: relative;
      top: 0.125rem;
      width: 0.75rem;
      height: 0.75rem;
      color: $color-danger-base;
    }

    @media (max-width: $breakpoint-mobile) {
      svg {
        top: 0;
        width: 0.625rem;
        height: 0.625rem;
      }
    }
  }

  &__keywords {
    display: inline-block;
    color: $color-primary-muted;
    width: 12rem;
    @include text-truncate;
    margin-left: 0.5rem;
    font-style: italic;

    @media (max-width: $breakpoint-mobile) {
      font-size: font-size('xxs');
      width: 8rem;
    }
  }

  &__card-set {
    display: inline-block;
    color: $color-primary-dark;
    width: 8rem;
    @include text-truncate;
    margin-left: auto;
    margin-right: 0.5rem;
    text-align: right;

    @media (max-width: $breakpoint-mobile) {
      font-size: font-size('xxs');
      width: 8rem;
    }
  }

  &__description {
    font-size: font-size('xxs');
    color: $color-primary-muted;
    margin: 0 0.5rem 0.25rem 2rem;
    cursor: pointer;

    @media (max-width: $breakpoint-mobile) {
      margin: 0 0.5rem 0 1.75rem;
    }
  }
}

.rarity-icon {
  color: $color-rarity-common;
  filter: drop-shadow(0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.9));

  &--common {
    @extend .rarity-icon;
    width: 14px;
    height: 14px;
    margin-top: 0.125rem;
    margin-left: 0.125rem;
  }

  &--uncommon {
    @extend .rarity-icon;
    width: 22px;
    height: 22px;
    margin-top: 0.125rem;
    margin-left: -0.125rem;
    color: $color-rarity-uncommon;
  }

  &--rare {
    @extend .rarity-icon;
    width: 20px;
    height: 18px;
    margin-top: 0.25rem;
    color: $color-rarity-rare;
  }

  &--legendary {
    @extend .rarity-icon;
    width: 20px;
    height: 22px;
    color: $color-rarity-legendary;
  }

  &--monster {
    @extend .rarity-icon;
    width: 18px;
    height: 18px;
    position: relative;
    top: 0.25rem;
    left: 0.0625rem;
    margin-right: 0.8125rem;
    color: $color-danger-base;
  }
}
