@use 'index' as *;
@use 'sass:color';

.link {
  fill: none;
  stroke: $color-primary-base;
  stroke-width: 2px;
  opacity: 0.75;
}

.arrowhead {
  fill: $color-primary-base;
}

.loop-back-link {
  fill: none;
  stroke-width: 2px;
  stroke-dasharray: 10, 10;
  opacity: 0.5;

  @each $type, $color in $event-node-type-to-color-map {
    &--#{$type} {
      stroke: $color;
    }
  }
}

.loop-back-arrowhead {
  stroke: none;

  @each $type, $color in $event-node-type-to-color-map {
    &--#{$type} {
      fill: $color;
    }
  }
}
