@use 'index' as *;
@use 'sass:color' as color;

@mixin scoring-colors($color) {
  color: color.adjust($color, $alpha: -0.2);
  border-color: color.adjust($color, $alpha: -0.2);

  &:hover {
    color: color.adjust($color, $lightness: 5%);
    border-color: color.adjust($color, $lightness: 5%);
  }
}

.scoring-button {
  min-width: 5rem;
  font-size: font-size('xs');

  &:hover {
    font-weight: 600;
  }

  &--Standard {
    @include scoring-colors($color-scoring-standard);
  }

  &--Sunforge {
    @include scoring-colors($color-scoring-sunforge);
  }

  &--WeeklyChallenge {
    @include scoring-colors($color-scoring-weekly-challenge);
  }

  &--Blightbane {
    @include scoring-colors($color-scoring-blightbane);
  }
}
