@use 'index' as *;

%codex-container {
  display: flex;
  flex-direction: column;
  padding: 0.375rem 0.625rem 0.625rem;
  background-color: $color-base-bg;
  color: $color-primary-base;
  min-height: 100vh;
  font-size: font-size('sm');
  @include starsTexture('upper');
  @include starsTexture('lower');
}

%codex-content {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem 1rem;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    gap: 1.5rem;
  }
}
