@import '../../styles/constants';
@import '../../styles/gradients';

$transition-duration: 0.5s;

.open-source-info-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0.375rem;

  .hover-text {
    transform: translateX(1.25rem);
    opacity: 0;
    transition: all $transition-duration ease;
    padding-right: 0.75rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 0.25rem;

    .gradient-link {
      padding-bottom: 2px;
    }
  }

  .github-icon {
    width: 1rem;
    height: 1rem;
    transition: all $transition-duration ease;
    padding: 0.25rem;
    border: 2px solid transparent;
    border-radius: 50%;
    transform-origin: center;
    @include yellowGreenGradientIcon(false);

    @media (max-width: $breakpoint-tablet) {
      position: absolute;
      right: 1.625rem;
      bottom: 1.625rem;
      cursor: pointer;
    }
  }

  &:hover {
    .hover-text {
      transform: translateX(0);
      opacity: 1;
    }

    .github-icon {
      @include yellowGreenGradientIcon(true);
    }
  }
}
