@use 'index' as *;

.sticky-zoom {
  position: fixed;
  top: 3.75rem;
  right: 2.75rem;
  z-index: $z-index-sticky-zoom;
  background-color: $color-component-bg;
  padding: 0.5rem 0.75rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid $color-component-border-dark;
  box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.75);
  animation: fadeInFromRight 0.5s ease-out;

  @media (max-width: $breakpoint-mobile) {
    top: 4.5rem;
    padding: 0.375rem 0.5rem 0.5rem;
  }
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
