@import '../../styles/animations';

.loading-dots-container {
  display: flex;
  align-items: center;
  gap: 4px;
  letter-spacing: 2px;
  margin-bottom: -4px;
  margin-left: 4px;

  .loading-dots {
    display: inline-block;
    @include pulsingDotsAnimation;
  }
}
