@use '../../styles' as *;

$button-padding-vertical: 0.25rem;
$button-padding-horizontal: 0.5rem;

.chart-footer {
  text-align: center;
  color: #888;
  font-size: 0.9rem;
  padding: 0.75rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-top: 1px dashed #333;
  margin-top: 0.5rem;
  height: 1.5rem;

  .footer-energy {
    &.left,
    &.right {
      display: block;
    }
  }

  .footer-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &.loading {
      margin-bottom: 0.25rem;
    }
  }

  .refresh-button {
    background: none;
    border: 1px solid #444;
    color: #999;
    padding: $button-padding-vertical $button-padding-horizontal;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;

    &:hover {
      background: #333;
      @include yellowGreenGradient(true, #fff);
      @include superFancyBorder($button-padding-vertical, $button-padding-horizontal);
    }
  }

  @media (max-width: $breakpoint-mobile) {
    justify-content: center;

    .footer-energy {
      &.left {
        &.loading {
          display: none;
        }
      }
      &.right {
        display: none;
      }
    }
  }
}
