@use 'index' as *;

.group {
  flex: 0 1 $control-max-width; // Large screens: all controls in one row
  min-width: $control-min-width;
  width: 100%;

  // Medium+ screens: three controls per row
  @media (max-width: $breakpoint-tablet-plus) {
    flex: 1 1 calc(33.33% - 1.25rem);

    &:last-child:nth-child(3n + 1),
    &:last-child:nth-child(3n + 2) {
      margin-right: auto;
    }
  }

  // Small screens: two controls per row
  @media (max-width: $breakpoint-mobile) {
    flex: 1 1 calc(50% - 0.5rem);

    &:last-child:nth-child(odd) {
      margin-right: auto;
    }
  }
}
