@import '../../styles/gradients.scss';

$button-padding-horizontal: 10px;
$button-padding-vertical: 8px;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  position: relative;
  background: #1a1a1a;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  margin: auto;
  @include yellowGreenGradientBorder;

  h3 {
    margin-top: 5px;
    color: #aaa;
    display: flex;
    align-items: center;
    gap: 8px;

    .modal-icon {
      margin-top: -5px;
      width: 64px;
      height: auto;
      object-fit: contain;
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
      opacity: 0.9;
    }
  }

  p {
    color: #ccc;
    line-height: 1.2;
  }

  .player {
    font-weight: bold;
  }

  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;

    button {
      padding: $button-padding-vertical $button-padding-horizontal;
      border-radius: 8px;
      border: 1px solid #444;
      background: none;
      color: #ccc;
      cursor: pointer;

      &:hover {
        color: #fff;
        background: #333;
        border-color: #666;
      }

      &.confirm {
        font-weight: bold;
        @include yellowGreenGradient(false);

        &:hover {
          @include yellowGreenGradient(true);
          border: none;
          padding: $button-padding-vertical $button-padding-horizontal + 1px;
          @include yellowGreenGradientBorder;
        }
      }
    }
  }
}
