@use 'index' as *;
@use 'sass:color' as color;

.parameter-title {
  font-size: font-size('md');
  font-weight: 700;
  margin: 1rem 0 0 0;
  color: $color-primary-hover;
}

.parameter-description {
  margin: 0;
  line-height: 1.4;
  color: $color-primary-base;
}

.bosses-content {
  margin: 1rem 0;
}
