@use 'index' as *;

.button-link {
  border: none;
  background: none;
  color: $color-primary-base;
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 0;
  transition: opacity 0.4s ease;
  position: relative;
  font-size: font-size('xxs');
  @include yellowGreenGradient(false);

  &:hover {
    @include yellowGreenGradient(true);

    &::after {
      transform: scaleX(1);
    }
  }

  &::after {
    @include yellowGreenGradientBackgroundSupportInAfterBlock();
  }
}

.link {
  text-decoration: none;
  transition: opacity 0.4s ease;
  font-weight: 600;
  position: relative;
  @include yellowGreenGradient(false);

  &:hover {
    @include yellowGreenGradient(true);

    &::after {
      transform: scaleX(1);
    }
  }

  &::after {
    @include yellowGreenGradientBackgroundSupportInAfterBlock();
  }
}
