@use 'index' as *;

.talent-tree-container {
  width: 100%;
  overflow: auto;
  margin-top: 1rem;
}

.talent-tree {
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.tree-link {
  fill: none;
  stroke: $color-primary-base;
  stroke-width: 2px;
  opacity: 0.75;
}

.tree-node {
  cursor: pointer;
}

.tree-root-node-circle {
  fill: $color-component-bg;
  stroke: var(--color, $color-component-bg-hover);
  stroke-width: 2px;
}

.tree-root-node-label {
  font-size: font-size('sm');
  font-weight: 600;
  text-anchor: middle;
}

.tree-node-content {
  pointer-events: none;
}

.talent-node-glow {
  stroke-width: 5px;
  stroke-opacity: 0.4;
  opacity: 0.25;
  rx: 10px;
  ry: 10px;

  @each $tier, $color in $talent-index-to-color-map {
    &--tier-#{$tier} {
      fill: $color;
      stroke: $color;
    }
  }
}

.talent-node {
  stroke-width: 2px;
  stroke-opacity: 0.75;
  rx: 8px;
  ry: 8px;

  @each $tier, $color in $talent-index-to-color-map {
    &--tier-#{$tier} {
      fill: mix($color-component-bg, $color, 95%);
      stroke: $color;
    }
  }
}

.talent-node-name {
  font-size: font-size('xxs');
  font-weight: 600;
  fill: $color-primary-base;
  text-anchor: middle;
}

.talent-node-description {
  font-size: font-size('xxxs');
  color: $color-primary-muted;
  text-align: center;
  line-height: 1.2;
  word-wrap: break-word;
}

.talent-node-separator {
  stroke-width: 2px;
  stroke-opacity: 0.3;

  @each $tier, $color in $talent-index-to-color-map {
    &--tier-#{$tier} {
      stroke: $color;
    }
  }
}
