@use 'index' as *;

.search-panel {
  background-color: $color-component-bg;
  padding: 1rem;
  border-radius: 4px;
}

.controls {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap; // Allow wrapping to new line on smaller screens
}

.control-wrapper {
  min-width: 16rem; // Min width before wrapping

  &--event {
    flex: 2;
  }

  &--zoom {
    min-width: 6rem;
    flex: 1;
  }

  &--looping-path {
    min-width: 18rem;
    flex: 1;
  }
}
