@use 'index' as *;

// Weird visual effect work-around for struck cards and hover effect
@mixin cardOverlayPositioningFix {
  margin-left: -0.5rem;
  padding-left: 0.5rem;

  &:first-child {
    margin-top: -0.25rem;
    padding-top: 0.25rem;
  }

  &:last-child {
    margin-bottom: -0.25rem;
    padding-bottom: 0.5rem;
  }
}

// To reuse the same margins for both description and blightbane link
@mixin description-margins-based-on-filters {
  margin: 0.125rem 0.5rem 0.375rem 0;

  &--rarity_margin {
    margin-left: 2rem;
  }

  &--special-icons_margin {
    margin-left: 0.5rem;
  }

  &--rarity_and_special_icons_margin {
    margin-left: 2.5rem;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-left: 0.125rem;
  }
}

.result-card-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed $color-component-border;
  padding-bottom: 0.25rem;

  &:last-child {
    border-bottom: none;
  }

  &--struck {
    @include cardOverlayPositioningFix;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

  &--hidden {
    display: none;
  }

  &--full-match {
    @include cardOverlayPositioningFix;
    position: relative;
    background: linear-gradient(
      45deg,
      rgba(155, 255, 255, 0) 0%,
      rgba(255, 55, 255, 0.05) 20%,
      rgba(255, 255, 155, 0.15) 40%,
      rgba(255, 55, 255, 0.05) 60%,
      rgba(155, 255, 255, 0) 80%,
      rgba(155, 255, 255, 0) 100%
    );
    background-size: 600% 400%;
    animation: card-shine-shift 4s linear infinite;
  }

  &:hover {
    color: $color-primary-hover;
    background-color: rgba(255, 255, 255, 0.03);
    @include cardOverlayPositioningFix;

    .result-card__description {
      color: $color-primary-base;

      &__icon {
        opacity: 1;
      }
    }
  }
}

.result-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
  margin: -0.3125rem 0;
  cursor: pointer;
  min-height: 1.25rem;

  &--struck {
    text-decoration: line-through;
  }

  &--hidden {
    display: none;
  }

  &__rarity {
    margin-right: 0.5rem;
    min-width: 1.5rem;

    @media (max-width: $breakpoint-mobile) {
      margin-right: 0.25rem;
      position: relative;
      bottom: 0.0625rem;
    }

    &__icon {
      color: $color-rarity-common;
      filter: drop-shadow(0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.9));

      &--common {
        @extend .result-card__rarity__icon;
        width: 14px;
        height: 14px;
        margin-top: 0.125rem;
        margin-left: 0.125rem;
      }

      &--uncommon {
        @extend .result-card__rarity__icon;
        width: 22px;
        height: 22px;
        margin-top: 0.125rem;
        margin-left: -0.125rem;
        color: $color-rarity-uncommon;
      }

      &--rare {
        @extend .result-card__rarity__icon;
        width: 20px;
        height: 18px;
        margin-top: 0.25rem;
        color: $color-rarity-rare;
      }

      &--legendary {
        @extend .result-card__rarity__icon;
        width: 20px;
        height: 22px;
        color: $color-rarity-legendary;
      }

      &--monster {
        @extend .result-card__rarity__icon;
        width: 18px;
        height: 18px;
        position: relative;
        top: 0.25rem;
        left: 0.0625rem;
        color: $color-danger-special-card;
      }
    }
  }

  &__name {
    display: inline-block;
    width: 10rem;
    @include text-truncate;

    @media (max-width: $breakpoint-mobile) {
      font-size: font-size('xxs');
    }
  }

  &__special-icon-base {
    display: flex;
    width: 1rem;
    margin-left: -0.75rem;
    margin-right: 0.25rem;

    svg {
      position: relative;
      top: 0.125rem;
      color: $color-danger-special-card;
    }

    @media (max-width: $breakpoint-mobile) {
      margin-left: -0.25rem;
    }
  }

  &__non-collectible-and-animal-companion {
    @extend .result-card__special-icon-base;
    flex-direction: column;

    svg {
      top: 0.5rem;
      width: 1rem;
      height: 1rem;
    }

    @media (max-width: $breakpoint-mobile) {
      flex-direction: row;
      width: 1.5rem;

      svg {
        top: 0;
        width: 0.75rem;
        height: 0.75rem;
      }
    }
  }

  &__non-collectible {
    @extend .result-card__special-icon-base;

    svg {
      width: 0.875rem;
      height: 0.875rem;
    }

    @media (max-width: $breakpoint-mobile) {
      width: 0.75rem;
      margin-left: -0.25rem;

      svg {
        top: 0;
        width: 0.75rem;
        height: 0.75rem;
      }
    }
  }

  &__animal-companion {
    @extend .result-card__special-icon-base;

    svg {
      width: 1rem;
      height: 1rem;
    }

    @media (max-width: $breakpoint-mobile) {
      margin-left: -0.25rem;

      svg {
        top: 0;
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &__keywords {
    display: inline-block;
    color: $color-primary-muted;
    width: 12rem;
    @include text-truncate;
    margin-left: 0.5rem;
    font-style: italic;

    @media (max-width: $breakpoint-mobile) {
      font-size: font-size('xxs');
      width: 8rem;
    }
  }

  &__card-set {
    display: inline-block;
    color: $color-primary-dark;
    width: 8rem;
    @include text-truncate;
    margin-left: auto;
    margin-right: 0.5rem;
    text-align: right;

    @media (max-width: $breakpoint-mobile) {
      font-size: font-size('xxs');
      width: 8rem;
    }
  }

  &__description {
    font-size: font-size('xxs');
    color: $color-primary-muted;
    cursor: pointer;
    @include description-margins-based-on-filters;

    &--struck {
      text-decoration: line-through;
    }

    &--hidden {
      display: none;
    }

    &__icon {
      position: relative;
      top: 0.0625rem;
      display: inline-block;
      width: 0.5625rem;
      height: 0.5625rem;
      opacity: 0.875;
    }
  }

  &__blightbane-link {
    font-size: font-size('xxs');
    width: fit-content;
    @include description-margins-based-on-filters;
  }
}

@keyframes card-shine-shift {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 200%;
  }
}
