@use 'index' as *;

.footer {
  @extend %flex-center;
  padding: 1rem;
  white-space: pre-wrap;
  margin-top: auto;
  color: $color-primary-muted;
  font-size: font-size('xs');
  flex-wrap: wrap;
}

.credits {
  @media (max-width: $breakpoint-tablet) {
    max-width: 70vw;
  }

  @media (max-width: $breakpoint-mobile) {
    max-width: 60vw;
  }
}
