@use 'index' as *;

.no-keywords-warning {
  font-size: font-size('xs');
  color: $color-danger-hover;
}

.no-keywords-hint {
  font-size: font-size('xxs');
  color: $color-primary-muted;
}

.keywords-summary {
  font-size: font-size('xxs');
  color: $color-primary-muted;
  margin-top: 0.25rem;

  &__full-match {
    font-weight: bold;
    color: rgba($color-rarity-legendary, 0.5);
  }
}

.keywords-tracked {
  font-size: font-size('xxs');
  color: $color-primary-dark;
  margin-top: 0.5rem;

  &__info-container {
    height: 1rem;

    &--hidden {
      height: 2.75rem;
    }
  }

  &__hidden-info {
    font-size: font-size('xxs');
    color: $color-danger-base;
  }

  &__untracked-info {
    display: inline-block;
    font-size: font-size('xxs');
    color: $color-primary-muted;
    margin: 0 0 0 0.875rem;
    animation: fadeOut 1.4s ease-out forwards;

    &--last-one-undone {
      display: block;
      margin: 0.875rem 0 0 0;
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
