@use 'index' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 0 1rem;
  background-color: $color-base-bg;
  color: $color-primary-muted;
  gap: 1rem;
  @include starsTexture('upper');
  @include starsTexture('lower');

  p {
    font-size: font-size('md');
    margin: 0.25rem 1.5rem;
    max-width: 600px;
    line-height: 1.5;
  }
}

.title {
  font-size: font-size('lg');
  margin: 0;
  font-weight: bold;
  @include yellowGreenGradient(false);
}

.image {
  width: 100px;
  height: 100px;
  margin-top: 1.5rem;
  -webkit-mask-image: radial-gradient(circle, black 50%, transparent 75%);
  mask-image: radial-gradient(circle, black 50%, transparent 75%);
}

.back-button {
  min-width: 7.5rem !important;
  padding: 0.75rem 0.5rem !important;

  &:hover {
    padding-top: 0.8125rem !important;
    padding-bottom: 0.8125rem !important;
  }
}
