.slider {
  padding: 1rem 2rem 1rem 0;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  label {
    color: #ccc;
    font-size: 0.875rem;
  }

  output {
    color: #999;
    font-size: 0.875rem;
  }
}

.track {
  position: relative;
  height: 0.5rem;
  background: var(--track-color);
  border-radius: 1rem;
  margin: 1rem 0;
}

.trackFill {
  position: absolute;
  height: 100%;
  background: var(--fill-color);
  border-radius: 2px;
}

.thumb {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.marks {
  position: relative;
  height: 20px;
  margin-top: -0.5rem;
}

.mark {
  position: absolute;
  transform: translateX(-50%);
}

.markLabel {
  color: #999;
  font-size: 0.75rem;
}
