@use 'index' as *;

.results-panel {
  background-color: $color-component-bg;
  padding: 1rem 0;
  border-radius: 4px;

  &__header,
  &__event-list {
    margin: 0 1rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
}

.info-message {
  font-size: font-size('sm');
  line-height: 1.5;
  color: $color-primary-muted;
  text-align: center;
  padding: 2rem;

  &--bordered {
    border-top: 2px dotted $color-component-border;
    margin: 1rem 10% 0rem;

    @include superFancyBorder(1rem, 1rem);

    &::before {
      opacity: 0.75;
      border-radius: 0;
      border-width: 2px;
      border-bottom: none;
      border-left: none;
      border-right: none;
    }
  }
}
