@use 'index' as *;

.results-panel {
  background-color: $color-component-bg;
  padding: 1rem 0;
  border-radius: 4px;

  &__header,
  &__event-list {
    margin: 0 1rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
}

.info-message {
  font-size: font-size('sm');
  line-height: 1.4;
  color: $color-primary-muted;
  text-align: center;
  padding: 2rem;

  &__icon {
    position: relative;
    top: 0.125rem;
    margin-right: 0.25rem;

    @include rotateY360Animation('hover', '.info-message:hover');
  }
}
