@use '../../../styles/index' as *;

.filter-group {
  margin: 2rem 0;

  h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: font-size('sm');
    color: $color-primary-base;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $color-component-border-dark;
  }
}

.check-boxes {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
