@use '../../../styles/index' as *;

.filter-group {
  margin: 2rem 0;

  h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: font-size('sm');
    color: #ddd;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #444;
  }
}

.check-boxes {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  label {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: calc(33.33% - 0.5rem);
    min-width: 80px;
    margin-bottom: 0.5rem;
  }

  &--card-set {
    label {
      @media (max-width: $breakpoint-mobile) {
        width: calc(50% - 0.5rem);
        min-width: 0;
      }
    }
  }

  &--rarity {
    label {
      display: flex;
      align-items: center;
      min-width: 20px;
      gap: 0.25rem;
      width: calc(50% - 0.5rem);
      margin-right: 0;
    }
  }

  &--formatting {
    label {
      width: calc(50% - 1.5rem);

      @media (max-width: $breakpoint-mobile) {
        width: auto;
        margin-right: 1rem;
      }
    }
  }
}

.input--rarity {
  width: 1rem;
  height: 1rem;
}
