@import '../../../styles/animations.scss';
@import '../../../styles/gradients.scss';

$button-padding-horizontal: 10px;
$button-padding-vertical: 8px;

.modal-content {
  h3 {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-block-end: 0;

    .modal-icon {
      margin-top: -10px;
      margin-left: -5px;
      width: 75px;
      height: auto;
      object-fit: contain;
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
      @include peekUpAnimation;
    }
  }

  .player {
    font-weight: bold;
  }

  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;

    button {
      padding: $button-padding-vertical $button-padding-horizontal;
      border-radius: 8px;
      border: 1px solid #444;
      background: none;
      color: #ccc;
      cursor: pointer;

      &:hover {
        color: #fff;
        background: #333;
        border-color: #666;
      }

      &.confirm {
        font-weight: bold;
        @include yellowGreenGradient(false, #ccc);

        &:hover {
          padding: $button-padding-vertical $button-padding-horizontal + 1px;
          @include yellowGreenGradient(true, #fff);
          @include yellowGreenGradientBorder;
        }
      }
    }
  }
}
