@import './styles/breakpoints';
@import './styles/animations';
@import './styles/gradients';
body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #1a1a1a;
  min-height: 100vh;
  position: relative;

  .header {
    display: flex;
    align-items: center;
    margin: 0 0 10px 20px;
    position: relative;
    padding-bottom: 20px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0px;
      right: 20px;
      height: 2px;
      @include yellowGreenGradientBackground(0.25);
    }

    .app-logo {
      width: 50px;
      height: 50px;
      margin-right: 15px;
      @include rotateAroundY('hover', '.header:hover');
    }

    &:hover .app-logo {
      transform: rotateY(360deg);
    }

    .title-container {
      .app-title {
        @include yellowGreenGradient;
        font-size: 2rem;
        margin: 0;
        font-weight: bold;
      }

      .app-subtitle {
        color: #aaa;
        font-size: 1rem;
        margin: 0;
        font-weight: normal;
        font-style: italic;
      }
    }
  }

  .content {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }

  .footer {
    display: flex;
    align-items: center;
    padding: 1rem;
    white-space: pre-wrap;
    margin-top: auto;
    color: #999;
    font-size: 0.875rem;
    flex-wrap: wrap;

    .footer-credits {
      @media (max-width: $breakpoint-tablet) {
        max-width: 70vw;
      }

      @media (max-width: $breakpoint-mobile) {
        max-width: 60vw;
      }
    }

    .gradient-link {
      @include yellowGreenGradient;
      text-decoration: none;
      transition: opacity 0.5s ease;
      font-weight: 600;
      position: relative;

      &:hover {
        opacity: 0.8;

        &::after {
          transform: scaleX(1);
        }
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        @include yellowGreenGradientBackground(1);
        transform: scaleX(0);
        transition: transform 0.5s ease;
        transform-origin: left;
      }
    }
  }
}
