@use 'index' as *;

.rarity-note {
  font-size: font-size('xs');
  color: $color-primary-muted;
  font-style: italic;

  @media (max-width: $breakpoint-mobile) {
    display: block;
    font-size: font-size('xxs');
    margin-left: 1rem;
  }
}
